
{% macro button(text, url="", link=true) %}
{% set buttonCLass="text-center mt-6 font-brand text-xl tracking-wide uppercase  bg-green-200 my-6 inline-block px-7 pt-3 pb-4 rounded-full focus:outline-none focus:ring-4 focus:ring-green-400" %}

{% if link === true %}
<a href="{{ url }}" class="{{ buttonCLass }}">{{ text }}</a>
{% else %}
<button class="{{ buttonClass }}">{{ text }}</button>
{% endif %}
{% endmacro %}