<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ globals.siteTitle }} | {{ title }}</title>
    {% if page.url === "/count" %} 
     <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
    <!-- Load BodyPix -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
    {% endif %}
    <script src="/js/alpine.js?v={% version %}"></script>
    <script src="/js/script.js?v={% version %}"></script>
    <link rel="stylesheet" href="/style.css?v={% version %}">
</head>
<body class="debug-screens bg-hospital-500 font-body">
<div x-data="data()" x-init="init($refs)" class="w-full min-h-screen">
{% block content %}
    {{ content | safe }}
{% endblock %}
</div>
</body>
</html>